.card {
    margin: 3px;
    width: 210px;
    height: 220px;
  transition: 0.5;
    overflow: hidden;
    float: left;
    background-color: rgb(231, 229, 229);
    border-radius: 10px;
    
    
}

.imagen {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img {
    height: 60%;
    width: 50%;;
    
}

.numero {
    
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 0;
    margin-bottom: -10px;
}

.numero span {
    font-size: 12px;
    color: black;
}

.i {
    display: flex;
    justify-content: center;
}

.info {
    display: block;
    margin: 0;
    padding: 0;
    display: flexbox;
   justify-content: center;
}

.info h1 {
    font-size: 15px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    color: black;
}

.info p {
    float: left;
    margin-left: 10px;
    margin-top: 0;
    padding: 5px;
    font-size: 13px;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: #fff;

}


